<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | url }}">{{ site.title }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ '/areas/' | url }}">Areas</a></li></li>
        <li><a href="{{ '/changelog/' | url }}">Changelog</a></li>
        <li><a href="{{ '/faq/' | url }}">FAQ</a></li>
      </ul>
    </nav>
  </header>
  <main class="landing-page">
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; 2025 {{ site.title }}. Created by Pinku Kumar Agrawal.</p>
    <p>
      <a href="https://github.com/pinkuagrawal28" target="_blank" rel="noopener noreferrer">GitHub</a> |
      <a href="https://www.linkedin.com/in/pinkuagrawal28/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </p>
  </footer>
</body>
</html>
